*~
*.swp
tags

*.lo
*.o

*.so
*.exe
*.dll

*.lai
*.la
*.a

INSTALL
Makefile.in
Makefile
ltmain.sh
stamp-h1
libtool
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
config.guess
config.h
config.h.in
config.log
config.status
config.sub
.libs
.deps

*.pyc
py-compile

*.rst
doc/_build/
npa/doc/Doxyfile
npa/doc/html
npa/doc/npa.tag
npa/doc/xml/
doc

*.ggo
cmdline.c
cmdline.h

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4

*.1

ccid/src/ccid-emulator
npa/src/example
npa/src/npa-tool
pcsc-relay/src/pcsc-relay
virtualsmartcard/src/vpicc/vicc
virtualsmartcard/src/vpcd-config/vpcd-config

*.pc

virtualsmartcard/doc/api/*

virtualsmartcard/src/pcsclite-vpcd/pcsclite.h
virtualsmartcard/win32/vpcd-config/Debug
virtualsmartcard/win32/vpcd-config/vpcd-config.v12.suo
npa/opensc.conf
remote-reader/build/*

.DS_Store
.idea
.gradle
local.properties
/virtualsmartcard/bin
/virtualsmartcard/obj
/virtualsmartcard/lib
/virtualsmartcard/win32/BixVReader/Release
/virtualsmartcard/win32/Release

ACardEmulator/build
build/
crash-info/
.sign/
.sdk_delta.info
.rds_delta

*.apk
keystore.properties


#nix related
**/result