[submodule "ACardEmulator/app/src/main/external/ykneo-openpgp"]
	path = ACardEmulator/app/src/main/external/ykneo-openpgp
	url = https://github.com/Yubico/ykneo-openpgp.git
[submodule "ACardEmulator/app/src/main/external/ykneo-oath"]
	path = ACardEmulator/app/src/main/external/ykneo-oath
	url = https://github.com/Yubico/ykneo-oath.git
[submodule "ACardEmulator/app/src/main/external/IsoApplet"]
	path = ACardEmulator/app/src/main/external/IsoApplet
	url = https://github.com/philipWendland/IsoApplet.git
[submodule "ACardEmulator/app/src/main/external/MuscleApplet"]
	path = ACardEmulator/app/src/main/external/MuscleApplet
	url = https://github.com/martinpaljak/MuscleApplet.git
[submodule "ACardEmulator/app/src/main/external/GidsApplet"]
	path = ACardEmulator/app/src/main/external/GidsApplet
	url = https://github.com/vletoux/GidsApplet.git
[submodule "ccid/src/OpenSC"]
	path = ccid/src/OpenSC
	url = https://github.com/frankmorgner/OpenSC
[submodule "virtualsmartcard/win32/DevMsi"]
	path = virtualsmartcard/win32/DevMsi
	url = https://github.com/nickrussler/DevMsi.git
